* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Varela Round', sans-serif;  
}

.cardHighlight {
  min-height: 100%;
}


.colorNavbar {
  background-color: #FFC0CB;

}

.colorBanner {
   background-color: #C1E1C1;

}

.colorForm{
  background-color: #FFC0CB;
}

.colorGreen{
  background-color: #C1E1C1
}

.colorPurple{
background-color: #CF9FFF
}

#colorPurple{
background-color: #CF9FFF;
}

#colorNavbar {
  background-color: #FFC0CB;

}

#font-link {
  font-family: 'Pacifico', cursive;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.colorNavbarLite{
  background-color: #FFE6EE;
}

.colorBlue{
  background-color: aliceblue;
}